apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-worker
spec:
  replicas: 1  # Start with 1 worker, but you can scale this up based on your workload
  selector:
    matchLabels:
      component: airflow-worker
  template:
    metadata:
      labels:
        component: airflow-worker
    spec:
      containers:
      - name: airflow-worker
        image: furnar000/airflow
        envFrom:
        - configMapRef:
            name: airflow-config
        - secretRef:
            name: airflow-secrets
        volumeMounts:
        - name: dags
          mountPath: /opt/airflow/dags
        - name: logs
          mountPath: /opt/airflow/logs
        - name: plugins
          mountPath: /opt/airflow/plugins
        command: ["airflow"]
        args: ["celery", "worker"]
      volumes:
      - name: dags
        persistentVolumeClaim:
          claimName: airflow-dags-pvc
      - name: logs
        persistentVolumeClaim:
          claimName: airflow-logs-pvc
      - name: plugins
        persistentVolumeClaim:
          claimName: airflow-plugins-pvc
